
body {
    /*background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);*/
    background-image: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

html {
    scroll-behavior: smooth;
  }

#about-us{
    width: 80%;
    height: fit-content;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 5%;
}

#card-title{
    font-size: xx-large;
}

#card-text{
    font-size: large;
    line-height: 1.5;
}

li{
    font-size: medium;
    line-height: 1.2;
}

.container_1{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5vmin;
    justify-content: center;
}


[id*="mem-"]{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 80%;
    width: fit-content;
    height: max-content;
    padding: 2vmin;
    font-size: medium;
    margin: 3vmin;
    background-color: gray;
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.75);
    align-items: center;
}


.face {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #DCD8D6;
    position: relative;
    top: 10px; 
}



.details {
    display: block;
    color: #eee;
    width: max-content;
    
}


.details .name{
    font-size: xx-large;
    color: #fff;
    text-align: center;
}

.details > p {
    font-size: large;
    line-height: 1.5;
}

@media only screen and (max-width: 321px) {
    /* For mobile phones: */
    [id*="mem-"] {
        padding: 1.5vmin;
        font-size: small;
        margin: 2vmin;
    }
    .face {
        width: 120px;
        height: 120px;
    }    
    
    .details .name{
        font-size: x-large;
    }
    
    .details > p {
        font-size: medium;
    }
}